APScheduler==3.11.3
argon2-cffi==25.1.0
email-validator==2.3.0
fastapi==0.143.0
numpy==2.5.3
pandas==3.0.6
passlib==1.7.4
psycopg2-binary==2.9.13
pydantic==2.14.0
python-dotenv==1.2.4
python-jose==3.5.0
redis==8.1.0
requests==2.34.2
rq==2.12.0
scikit-learn==1.9.1
SQLAlchemy==2.1.4
uvicorn==0.54.0
alembic==1.20.0